/* Home Section */

.section {
  padding: 10px 0;
  text-align: center;
  font-family: "Acumin", sans-serif; /* تعيين خط أكومين للنص */
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #459e55, #dab03d);
  -webkit-background-clip: text;
  color: transparent;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: #fff;
  object-fit: cover;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.project-info p {
  margin: 10px 0;
}

.btn-primary {
  font-style: italic;
  margin: 10px 0 0;
  padding: 10px 20px;
  font-size: 1rem;
  color: #0e9646;
  border: 1px solid #0b7336;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1b893e;
}

/* About Section */
/* البداية: إضافة بعض التنسيقات الأساسية */
.about-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  opacity: 0; /* يجعل العنصر غير مرئي في البداية */
  transform: translateX(50px); /* تحريك العنصر إلى اليمين */
  transition: opacity 1s ease, transform 1s ease; /* إضافة تأثير الحركة */
}

hr {
  width: 20%; /* عرض الخط */
  margin: 1rem auto; /* مساحة حول الخط */
  border: 1px solid #0b7336; /* اللون والسمك */
  transform-origin: center; /* نقطة الأصل للحركة */
  opacity: 0; /* الخط غير مرئي افتراضيًا */
  transform: scaleX(0); /* تصغير الخط افتراضيًا */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* الفئة المفعلة */
hr.animate {
  opacity: 1; /* إظهار الخط */
  transform: scaleX(1); /* عرض الخط بالكامل */
}

hr.visible {
  opacity: 1; /* إظهار الخط */
  transform: scaleX(1); /* استعادة العرض الكامل */
}

.about-head img {
  height: 48px;
}

.about-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0; /* جعل العناصر غير مرئية في البداية */
  transform: translateY(50px); /* تحريك العناصر من الأسفل */
  transition: opacity 1s ease, transform 1s ease; /* إضافة تأثير الحركة */
}

.about-card {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  opacity: 0; /* إخفاء العنصر */
  transform: translateX(-50px); /* تحريك العنصر إلى اليسار */
  transition: opacity 1s ease, transform 1s ease;
}

.about-card h3 {
  color: rgb(24, 156, 57);
  font-size: 2rem;
  font-weight: 900;
  font-family: "Acumin", sans-serif;
  opacity: 0; /* إخفاء النص */
  transform: translateX(50px); /* تحريك النص إلى اليمين */
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.about-card::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 0%;
  background-color: rgb(24, 156, 57);
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease-in-out;
}

/* تفعيل التأثيرات عند ظهور العناصر */
.about-head.visible,
.about-grid.visible,
.about-card.visible,
.about-card h3.visible {
  opacity: 1;
  transform: translateX(0); /* إلغاء التحريك عند التفعيل */
}

/* Products Section */
/* إعدادات الشبكة (Grid) */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  opacity: 0; /* يجعل المصفوفة غير مرئية عند تحميل الصفحة */
  transform: translateY(50px); /* تحريك المصفوفة للأعلى عند تحميل الصفحة */
  transition: opacity 1s ease, transform 1s ease; /* تأثير انسيابي */
}

/* إعدادات البطاقة (Card) */
.product-card {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  opacity: 0; /* إخفاء البطاقة عند تحميل الصفحة */
  transform: translateY(20px); /* تحريك البطاقة من الأسفل */
  transition: opacity 1s ease, transform 1s ease; /* تأثير انسيابي */
}

/* الصورة داخل البطاقة */
.product-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* العنوان داخل البطاقة */
.product-card h3 {
  color: var(--primary-color);
  padding: 1rem;
}

/* الوصف داخل البطاقة */
.product-card p {
  padding: 0 1rem 1rem;
  font-family: "Acumin", sans-serif;
}

/* تفعيل التأثير عند ظهور العنصر */
.product-grid.visible,
.product-card.visible {
  opacity: 1;
  transform: translateY(0); /* إلغاء التحريك عند التفعيل */
}

/* Contact Section */
.contact-wrapper {
  position: relative;
  text-align: center;
}

.contact-wrapper img {
  width: 100%;
  object-fit: cover;
}

.btn-secondry {
  font-style: italic;
  margin: 10px 0 0;
  padding: 15px 20px;
  font-size: 1rem;
  color: #0e9646;
  cursor: pointer;
}

.contact-wrapper p {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .contact-wrapper p {
    font-size: 1rem;
    font-weight: 900;
  }

  .about-card h3 {
    color: rgb(24, 156, 57);
    font-size: 1.5rem;
    font-weight: 900;
  }

  .about-card p {
    font-size: 14px;
    text-align: center;
  }
}

.contact-wrapper .btn-secondry {
  position: absolute;
  top: 60%;
  font-size: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .contact-wrapper .btn-secondry {
    position: absolute;
    top: 60%;
    font-size: 14px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-secondry {
    font-style: italic;
    margin: 10px 0 0;
    padding: 5px 10px;
    font-size: 1rem;
    color: #0e9646;
    cursor: pointer;
  }
}

/* Footer */
.footer {
  background-image: url(/images/footer.png);
  color: white;
  padding: 3rem 0 1rem;
}

.footer h2 {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  margin-top: -2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section h3 {
  font-size: 1.4rem;
  text-align: left;
  margin-top: -1.2rem;
}

.footer-section {
  width: 100%;
  gap: 1rem;
}

.footer-logo {
  width: 100%;
  margin-top: -2.5rem;
}

.footer-logo img {
  height: 50px;
}

.footer-section p {
  display: flex; /* يجعل النص والأيقونة في نفس الخط */
  margin-bottom: 10px; /* مسافة بين العناصر */
}

.footer-section i {
  height: 4px;
  margin-right: 10px; /* مسافة بين الأيقونة والنص */
  color: #ebf0eb; /* لون الأيقونات */
}

.social-links {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -0.5rem;
}

.social-links a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom p {
  color: black;
}

.footer-mobile {
  display: none;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    margin-bottom: 0;
  }

  .footer {
    background-image: url(/images/Footer\ bg.png);
  }

  .footer p {
    text-align: center;
  }
  .desk {
    display: none;
  }

  .footer-mobile {
    display: block;
  }

  .footer-mobile i {
    text-align: center;
  }

  .footer-section h3 {
    text-align: center;
  }

  .footer-section p {
    display: block;
    font-size: 12px;
  }

  .footer h2 {
    display: none;
  }

  .footer-logo {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .contact-wrapper img {
    width: 80%;
  }
}

@media (min-width: 1920px) {
  .contact-wrapper .btn-secondry {
    position: absolute;
    top: 60%;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact-wrapper img {
    width: 50%;
  }

  .btn-secondry {
    font-style: italic;
    margin: 10px 0 0;
    padding: 10px 25px;
    font-size: 1rem;
    color: #0e9646;
    cursor: pointer;
  }
}
