/* Slider Container */
.slider {
  position: relative;
  width: 100%;
  height: 950px; /* يمكن تعديل الارتفاع حسب الحاجة */
  overflow: hidden;
}

/* Styling for images */
.slider img {
  width: 100%;

  object-fit: cover; /* يحافظ على تناسب الصورة داخل الإطار */
}

/* Container for text on top of the slider */
.slide-text {
  position: absolute;
  top: 30%;
  left: 50%;
  /* خلفية تدرج لوني */

  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem; /* حجم الخط */
  font-weight: bold; /* جعل النص عريض */
  text-shadow: 4px 4px 4px rgba(15, 14, 14, 0.5); /* تأثير الظل للنص */
  z-index: 3; /* النص يكون فوق الصور */
  text-align: center;
  width: 100%;
}

.slide-text img {
  margin-top: 1rem;
  width: 90%;
  padding: 1rem;
}

.strip {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem; /* حجم الخط */
  font-weight: bold; /* جعل النص عريض */
  text-shadow: 4px 4px 4px rgba(15, 14, 14, 0.5); /* تأثير الظل للنص */
  z-index: 3; /* النص يكون فوق الصور */
  text-align: center;
  width: 100%;
}

.strip img {
  width: 70%;
}

.curve img {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

/* Slide Container (hold all the slides) */
.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Slides Styles */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  z-index: 1;
}

/* Active Slide */
.slide.active {
  opacity: 1;
  z-index: 2; /* الصورة النشطة تكون في الأعلى */
  transform: translateX(0); /* الصورة النشطة تظهر في الإطار */
}

/* Next Slide */
.slide.next {
  opacity: 1;
  z-index: 0; /* الصورة القادمة تكون أسفل الصورة النشطة */
  transform: translateX(100%); /* الصورة القادمة تظهر تدريجيًا */
}

/* Previous Slide */
.slide.previous {
  opacity: 1;
  z-index: 1;
  transform: translateX(-100%); /* الصورة السابقة تنزلق لأسفل */
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .slider {
    height: 550px;
  }

  .strip {
    top: 80%;
  }
}
@media (max-width: 768px) {
  .slider {
    height: 400px; /* تقليل الارتفاع على الشاشات الصغيرة */
  }

  .strip {
    top: 88%;
  }

  .slide-text {
    font-size: 18px; /* تقليل حجم الخط على الشاشات الصغيرة */
  }

  .curve img {
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .strip img {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 220px; /* تقليل الارتفاع أكثر على الشاشات الأصغر */
  }

  .strip {
    top: 90%;
  }

  .slide-text {
    font-size: 16px; /* تقليل حجم الخط أكثر على الشاشات الأصغر */
  }
}
