/* Container for the carousel */
.testimonial-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Adjust based on your image size */
}

.test {
  background-color: #f2f2f3;
  padding: 1rem;
}

.testimonial-carousel-container {
  background-color: aliceblue;
}

.testimonial-item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.testimonial-item img {
  padding: 1rem;
  padding-right: 0;
}

.testimonial-item.active {
  left: 0;
  opacity: 1;
}

.testimonial-item.prev {
  left: -100%;
  opacity: 0;
}
