.testimonial-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* يمكن تعديلها حسب حجم السلايدر المطلوب */
}

.testimonial-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.testimonial-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid green;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
